.header{
    padding: 30px 0;
    background-color: #f0fff0;
}
.nb{
    width: 20%;
}
.navp-0{
    padding: 0;
}
.navimg{
    width: 150px !important;
}
/* .nav-content ul{
} */
.nav-content ul li{
    margin: 0 15px;
    padding: 5px;
}
.nav-content ul li:last-child{
    margin-right: 0;
}
.nav-content ul li a{
    font-weight: 500;
    color:black !important;
    padding: 0;
  
}
#sign{
    background-color: #21b573;
    border-radius: 50px;
    
    
}
.sign a{
    color: white !important;
}