.header{
    padding: 30px 0;
    background-color: #f0fff0;
}
.nb{
    width: 20%;
}
.navp-0{
    padding: 0;
}
.navimg{
    width: 150px !important;
}
/* .nav-content ul{
} */
.nav-content ul li{
    margin: 0 15px;
    padding: 5px;
}
.nav-content ul li:last-child{
    margin-right: 0;
}
.nav-content ul li a{
    font-weight: 500;
    color:black;
    padding: 0;
  
}
.sign{
    background-color: #21b573;
    border-radius: 50px;
    
    
}
.sign a{
    color: white !important;
}


/* head end */
.intro{
    background-color: #f0fff0;
}
.lp{
    color: #f98256 !important;
}
.icontent2{
    padding: 90px 240px 90px 20px;
}
.icontent2 h1{
    font-size: 48px;
    font-weight: 700;
    color: #363958;
    margin-bottom: 30px;
}
.icontent2 h1 span{
    color: #6acf9f;
}
.icontent2 p{
    color:#3E3E3E ;
}
.btncustom{
    margin-top: 10px;
    width: 170px;
    background-color: #21b573;
    color: white;
    height: 50px;
    border-radius: 50px;
}
.btncustom:hover{
    transform: scale(1.1);
}
/* intro end */

.cuscards{
    padding: 40px 0 70px;
}
.mycard{
    width: 23%;
    background-color: #f8fffb;
    border: none; 
    padding: 45px 0;
}
.mycard:hover{
    background-color: white;
    transform: scale(1.05);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.mycard img{
    height: 75px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* media query */




@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }


@media (max-width: 1399.98px) { }
@media (max-width: 575.98px) {
    .icontent2 {
        padding: 10px 50px 45px 20px;
    }
  }
